.__next,
#__next {
  --primary-main: #fb6d3a;
  --secondary-dark: #503e9d;
  --secondary-main: #5b48a9;
  --secondary-light: #6c59b7;
}
@layer components {
  .btn {
    @apply py-2 px-4  font-semibold rounded-lg shadow-md  focus:outline-none focus:ring-2;
  }
}
.cover {
  background-size: cover;
  width: 100%;
  background-position: center center;
}

@keyframes animateWidth {
  from {
    width: 0px;
  }

  to {
    width: calc(100% - 1px);
  }
}

.inverted-border-radius {
  position: relative;
  height: 50px;
  width: 0;
  background-color: #fff;
  border-radius: 25px 0 0 25px;
}

.active {
  width: 100%;
  animation: 1s ease-out 0s 1 animateWidth;
}
.active * {
  color: var(--primary-main);
}

.link {
  height: 50px;
  line-height: 50px;
}

.inverted-border-radius::after,
.inverted-border-radius::before {
  content: '';
  position: absolute;

  /* background-color: #0074d9; */
  right: 0;
  height: 70px;
}

.inverted-border-radius::after {
  top: -70px;

  width: 0;
  border-bottom-right-radius: 40px;
  /* box-shadow: 0 40px 0 0 #001f3f; */
  box-shadow: 0 0 0 0 #fff;
}
.inverted-border-radius::before {
  bottom: -70px;

  width: 0;
  border-top-right-radius: 40px;
  /* box-shadow: 0 -40px 0 0 #001f3f; */
  box-shadow: 0 0 0 0 #fff;
}
.active::before,
.active::after {
  width: 30px;
}

.active::after {
  box-shadow: 0 40px 0 0 #fff;
}
.active::before {
  box-shadow: 0 -40px 0 0 #fff;
}
