.__next,
#__next {
  --primary-main: #fb6d3a;
  --secondary-main: #503e9d;
  --secondary-light: #6553b2;
}

.inverted-border-radius {
  position: relative;
  height: 50px;
  width: 0px;
  background-color: #fff;
  border-radius: 25px 0 0 25px;
  transition: width 2s;
}

.active {
  width: 100%;
}
.active * {
  color: var(--primary-main);
}

.link {
  height: 50px;
  line-height: 50px;
}

.inverted-border-radius::after,
.inverted-border-radius::before {
  content: '';
  position: absolute;

  /* background-color: #0074d9; */
  right: 0;
  height: 70px;
  transition: box-shadow 0.4s, width 0.8s;
}

.inverted-border-radius::after {
  top: -70px;

  width: 0;
  border-bottom-right-radius: 40px;
  /* box-shadow: 0 40px 0 0 #001f3f; */
  box-shadow: 0 0 0 0 #fff;
}
.inverted-border-radius::before {
  bottom: -70px;

  width: 0;
  border-top-right-radius: 40px;
  /* box-shadow: 0 -40px 0 0 #001f3f; */
  box-shadow: 0 0 0 0 #fff;
}
.active::before,
.active::after {
  width: 30px;
}

.active::after {
  box-shadow: 0 40px 0 0 #fff;
}
.active::before {
  box-shadow: 0 -40px 0 0 #fff;
}
